.header {
	background: rgba(255,255,255, 0.75);
	position: fixed;
	width: 100%;
	height: 3.5rem;
	left: 0;
	top: 0;
	z-index: 999;
	box-shadow: 
		0 3px 6px 0 rgba(#000, 0.05),
		0 0px 15px 0 rgba(#000, 0.07);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);  
	  
	@include breakpoint(md) {
		height: 5rem;
	}
	
	.container {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 100%;
		
		.logo {
			display: flex;
			flex-flow: row;
			align-items: center;
			cursor: pointer;

			.logo__box {
				margin-right: 0.5rem;
				width: 2.5rem;
				height: 2.5rem;

				@include breakpoint(md) {
					width: 3.5rem;
					height: 3.5rem;	
					margin-right: 0.9rem;
				}
			
				img {
					width: 100%;
					height: 100%;
				}
			}
			
			.logo__text {
				display: flex;
				flex-flow: column;

				.logo__name {
					font-weight: 900;
					font-size: 0.9rem;
					color: $primary-color;
					margin: 0;
					padding: 0;

					&:after {
						display: none;
					}

					@include breakpoint(md) {
						font-size: 1.2rem;
					}
				}

				.logo__subname {
					font-size: 0.65rem;
					color: rgba(#000, 0.6);
					font-weight: 400;
					margin-left: 0.1rem;
					margin: 0;
					padding: 0;

					@include breakpoint(md) {
						font-size: 0.75rem;
					}

					&:after {
						display: none;
					}
				}
			}
		}

		.nav {
			display: flex;
			flex-flow: row;
			align-items: center;
			
			.nav__item {
				display: block;
				cursor: pointer;
				font-size: rem(12);
				font-weight: 800;
				text-transform: uppercase;
				text-decoration: none;
				color: rgba($primary-color, 0.8);

				&:not(:last-of-type) {
					margin-right: rem(18);
				}

				&:hover {
					color: $primary-color;
				}

				&.active {
					font-weight: 900;
					color: $primary-color;
				}

				.nav__item--hidden {
					display: none;

					@include breakpoint(md) {
						display: inline;
					}
				}
			}					
		}
	}
}