.header {
	background: rgba(255,255,255, 0.6);
	position: fixed;
	width: 100%;
	height: 3.5rem;
	left: 0;
	top: 0;
	z-index: 999;
	box-shadow: 
		0 3px 6px 0 rgba(#000, 0.05),
		0 0px 15px 0 rgba(#000, 0.07);

	@include breakpoint(md) {
		height: 5rem;
	}
	
	.container {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 100%;
		
		.logo {
			display: flex;
			flex-flow: row;
			align-items: center;
			cursor: pointer;

			.logo__box {
				background-color: $primary-color;
				width: 2.5rem;
				height: 2.5rem;
				cursor: pointer;
				-webkit-user-select: none;
				   -moz-user-select: none;
					-ms-user-select: none;
						user-select: none;
				display: flex;
				flex-flow: row;
				align-items: center;
				padding: 0.5rem;
				border-radius: 0.5rem;
				margin-right: 0.8rem;

				@include breakpoint(md) {
					width: 3.5rem;
					height: 3.5rem;
					padding: 0.8rem;
				}
			
				img {
					width: 100%;
				}
			}
			
			.logo__text {
				display: flex;
				flex-flow: column;

				.logo__name {
					font-weight: 900;
					text-transform: uppercase;
					font-size: 1rem;
					color: $primary-color;

					@include breakpoint(md) {
						font-size: 1.2rem;
					}
				}

				.logo__subname {
					font-size: 0.75rem;
					color: rgba(#000, 0.6);
					margin-left: 0.1rem;
				}
			}
		}

		.nav {
			display: flex;
			flex-flow: row;
			align-items: center;
			
			span {
				color: rgba($primary-color, 0.8);
				cursor: pointer;
				font-size: rem(12);
				font-weight: 800;
				text-transform: uppercase;
				text-decoration: none;
				
				&:hover {
					color: $primary-color;
				}

				&.active {
					font-weight: 900;
					color: $primary-color;
				}
				
				&:not(:last-child) {
					margin-right: rem(18);
				}
			}
		}
	}
}