.List {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 100%;

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(#000, 0.45);
    }

    .List__container {
        height: calc(100% - 3rem);
        overflow-y: auto;
    }

    .List__item {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        user-select: none;
        transition: 200ms all ease-in-out;

        &:not(:last-of-type) {
            border-bottom: 1px solid rgba(#000, 0.1);
        }

        &:hover {
            background-color: rgba(#000, 0.018);
        }

        &:active {
            background-color: rgba(#000, 0.035);
        }

        .List__item--image {
            width: 4rem;
            height: 4rem;
            background-size: cover;
            border-radius: 0.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
        }

        .List__item--info {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding-left: 0.5rem;
            width: 100%;

            .info__title {
                display: flex;
                flex-flow: row;
                align-items: center;

                .info__title--text {
                    font-weight: bold;
                    font-size: rem(16);
                    margin-bottom: 0.1rem;
                    color: rgba(#000, 0.8);
                    margin-right: 0.35rem;
                    max-width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .item__status {
                    width: 0.4rem;
                    height: 0.4rem;
                    border-radius: 100%;

                    &.item__status--open {
                        background-color: rgba(#1bb737, 1);
                    }
    
                    &.item__status--closed {
                        background-color: rgba(#ed3939, 1);
                    }
                }
            }

            .info__description {
                font-size: rem(12);
                color: rgba(#000, 0.55);
            }
        }

        .List__item--action {
            flex-shrink: 0;
            flex: 1;
            display: flex;
            width: 3rem;
            display: none;

            div {
                flex-shrink: 0;
                width: 2rem;
                height: 2rem;
                background-color: red;
            }
        }
    }
}