.Map {

    .Map__marker {
        background-color: $primary-color;
        color: #fff;
        padding: 0.4rem 0.8rem;
        min-width: 100%;
        position: absolute;
        white-space: nowrap;
        border-radius: 0.25rem;
        box-shadow: 0 3px 5px 0 rgba($primary-color, 0.6);
        font-size: rem(12);
        cursor: pointer;
        transition: 200ms all ease-in-out;

        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }

    .cluster-marker {
        width: 2rem;
        height: 2rem;
        padding: 0.8rem;
        color: #fff;
        line-height: 0;
        font-weight: bold;
        background: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 200ms all ease-in-out;

        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }
}