@keyframes placeholder {
    0% {
        background-color: rgba(#000, 0.05);
    }

    50% {
        background-color: rgba(#000, 0.1);
    }

    100% {
        background-color: rgba(#000, 0.05);
    }
}