main {
    display: flex;
    flex-flow: row;
    align-items: stretch;

    .Sidebar {
        width: 30vw;
        height: calc(100vh - 5rem);
        position: relative;
        margin-top: 5rem;
        overflow-y: hidden;    
    }
}